<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://jakarta.ee/xml/ns/jakartaee"
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
    id="WebApp_ID">
    
    <welcome-file-list>
        <welcome-file>home1.html</welcome-file>
    </welcome-file-list>
    
    <display-name>book_app</display-name>
    
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.idiot.servlet.RegisterServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
</web-app>

